$primary-text-color: #666;
$secondary-text-color: #6c757d;
$muted-text-color: #96a1aa;
$brand-text-color: #e2ebf9;
$green-accent-color: #94d31b;
$blue-accent-color: rgb(21, 98, 157);
$nav-primary-color: darken($blue-accent-color, 15%);
$nav-secondary-color: rgba($blue-accent-color, 0.8);

$error-color: #E8890C;